<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/auth-page.css?newversion"/>
    
</head>

<body>
<div class="container">
       <button id="check-song-requests" class="btn btn-primary">Check Song Requests</button>
       <button id="get-liked-songs" class="btn btn-primary">Get Liked Songs</button>
   </div>

</body>
</html>


<script type="module" src="~/lib/spotify/spotify-ops.js?newversion"></script>