@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/privacy.css?"/>
    <link rel="stylesheet" href="~/css/common.css?newversion"/>
    <title>Gizlilik Politikası</title>
</head>
<body>
    <h1>Gizlilik Politikası</h1>
    <p>Gizliliğinizi ciddiye alıyoruz. Bu politika, hangi kişisel bilgileri topladığımızı ve bunları nasıl kullandığımızı açıklar.</p>
    <h2>Topladığımız Bilgiler</h2>
    <p>Aşağıdaki kişisel bilgileri topluyoruz:</p>
    <ul>
        <li>Ad</li>
        <li>E-posta adresi</li>
    </ul>
    <h2>Bilgilerin Kullanımı</h2>
    <p>Kişisel bilgilerinizi şunlar için kullanıyoruz:</p>
    <ul>
        <li>Talep ettiğiniz hizmetleri sağlamak</li>
        <li>Hizmetlerimiz hakkında sizinle iletişim kurmak</li>
        <li>Hizmetlerimizi iyileştirmek</li>
    </ul>
    <h2>Bilgi Paylaşımı ve Açıklaması</h2>
    <p>Sizinle ilgili kişisel bilgileri, izniniz olmadıkça diğer kişilerle veya şirketlerle paylaşmıyoruz veya kiralamıyoruz. Ancak, aşağıdaki durumlarda kişisel bilgilerinizi paylaşabiliriz:</p>
    <ul>
        <li>Dava açmak, yasal haklarımızı kullanmak veya savunmak veya mahkeme emri veya yasal süreçlere uymak amacıyla cevap vermek</li>
        <li>Yasadışı faaliyetleri soruşturmak, önlemek veya takip etmek, şüpheli dolandırıcılık durumlarıyla ilgilenmek, herhangi bir kişinin fiziksel güvenliği için potansiyel tehditler içeren durumlarla ilgilenmek, kullanım koşullarımızı ihlal etmek veya yasalara uyum sağlamak için bilgi paylaşmak gerektiğine inanıyoruz</li>
        <li>Bu şirketin başka bir şirket tarafından satın alınması veya birleştirilmesi durumunda size ilişkin bilgileri aktarabiliriz.</li>
    </ul>
    <h2>Bu Gizlilik Politikasındaki Değişiklikler</h2>
    <p>Bu politikayı güncelleyebiliriz. Kişisel bilgileri nasıl işlediğimizde önemli değişiklikler olduğunda, hesabınızda belirtilen birincil e-posta adresine bir bildirim göndererek veya sitemizde önde gelen bir bildirim yerleştirerek sizi bilgilendireceğiz.</p>
    <h2>Bize Ulaşın</h2>
    <p>Bu gizlilik politikası hakkında herhangi bir sorunuz veya endişeniz varsa, lütfen cafehub35@gmail.com adresinden bizimle iletişime geçin.</p>
</body>
</html>