<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/customer-page.css?newversion"/>

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

</head>
<body>
<table id="customer-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Photo URL</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body>
</html>
<script type="module" src="/lib/firebase/customer-page.js?"></script>