<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/customer-page.css"/>
    <link rel="stylesheet" href="~/css/common.css?"/>
    <!-- Include the required CSS files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>

    <!-- Include jQuery and the DataTables JavaScript files -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
</head>
<body>
<div class="container">
    <div class="table-wrapper">
        <table id="customer-table">
            <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>E-posta</th>
                <th>Doğum Tarihi</th>
                <th>Fotoğraf</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

</body>
</html>
<script src="https://kit.fontawesome.com/your-unique-id.js" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
    $.noConflict();
    var table = $('#customer-table').DataTable({
        "paging": true, // Enable pagination
        "pageLength": 5, // Number of rows per page
        "dom": '<"row"<"col-sm-12 text-center"<"h3 mb-0">>><"row"tr><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>tip', // Add a title section and length changing input above the table
        "language": {
            "info": "Showing _START_ to _END_ of _TOTAL_ entries"
        }
    });
    $("div.h3").html("Aktif Müşteriler"); // Set the title text
});
</script>
<script type="module" src="~/lib/firebase/customer-page.js?newversion"></script>
<style>
div.dataTables_wrapper div.dataTables_filter label {
           text-align: right;
       }
       </style>