<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/cafe-management-page.css?newversion"/>

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

</head>

<body>

<div class="container">
    <div class="card" id="customers">
        <h2>Müşteriler</h2>
    </div>
    <div class="card" id="spotify">
        <h2>Spotify</h2>
    </div>
    <div class="card" id="payment">
        <h2>Ödeme</h2>
    </div>

</div>

</body>
</html>

<script type="module" src="/lib/firebase/cafe-management.js?newversion"></script>