<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/cafe-management-page.css"/>
    <link rel="stylesheet" href="~/css/common.css?newversion"/>
</head>
<body>
<div class="container">
    <div class="card" id="customers">
        <h2>Müşteriler</h2>
    </div>
    <div class="card" id="payment">
        <h2>Ödeme</h2>
    </div>
    <div class="card" id="product">
        <h2>Ürünler</h2>
    </div>
</div>
</body>
</html>
<script type="module" src="~/lib/firebase/cafe-management.js?newversion"></script>
