/* Global styles */
/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    line-height: 1.5;*/
/*}*/

h1, h2 {
    margin-top: 2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


header h1 {
    margin: 0;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 1rem;
    border-top: 1px solid #ddd;
}

/* Button styles */
button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #0069d9;
}

/* Media queries */
@media (max-width: 767px) {
    main {
        padding: 0.5rem;
    }
}